@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-electric: var(--electric);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --aspect-portrait: 2 / 3;
}

@layer base {
  main {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: clamp(4rem, 12vw, 8rem);
    line-height: 0.85;
    font-weight: 550;
    letter-spacing: -0.3rem;
  }
  h2 {
    font-size: clamp(2rem, 8vw, 3.5rem);
    line-height: 1.17;
    font-weight: 550;
    letter-spacing: -0.1rem;
  }
  h3 {
    font-size: clamp(0.75rem, 6vw, 1rem);
    line-height: 1;
    font-weight: 550;
    letter-spacing: -0.05rem;
    text-transform: uppercase;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-overused);
}
