@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  main {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: clamp(3.5rem, 12vw, 8rem);
    line-height: 1;
    font-weight: 550;
    letter-spacing: -0.35rem;
  }
  h2 {
    font-size: clamp(2.5rem, 8vw, 3.5rem);
    line-height: 1;
    font-weight: 550;
    letter-spacing: -0.15rem;
  }
  h3 {
    font-size: clamp(0.75rem, 6vw, 1rem);
    line-height: 1;
    font-weight: 550;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
